<h1>Listing teams</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Captain</th>
      <th>Budget</th>
      <th>Rooster</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @teams.each do |team| %>
      <tr>
        <td><%= team.captain %></td>
        <td><%= team.budget %></td>
        <td><%= team.rooster %></td>
        <td><%= link_to '', team, class: "glyphicon glyphicon-zoom-in" %></td>
        <td><%= link_to '', edit_team_path(team), class: "glyphicon glyphicon-pencil"  %></td>
        <td><%= link_to '', team, method: :delete, data: { confirm: 'Are you sure?' }, class: "glyphicon glyphicon-remove"  %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Team', new_team_path %>
