<h1>Listing players</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Prize</th>
      <th>Race</th>
      <th>League</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @players.each do |player| %>
      <tr>
        <td><%= player.name %></td>
        <td><%= player.prize %></td>
        <td><%= player.race %></td>
        <td><%= player.league %></td>
      <!--  <td><%= link_to 'Show', player %></td> -->
        <td><%= link_to '', edit_player_path(player), class: "glyphicon glyphicon-pencil" %></td>
        <td><%= link_to '', player, method: :delete, data: { confirm: 'Are you sure?' }, class: "glyphicon glyphicon-remove" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Player', new_player_path %>
